# Backend
/backend/node_modules
/backend/.env*
/backend/.git
/backend/.idea

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/.idea
/frontend/.env*
/frontend/.git
# /frontend

/frontend_old
/.idea
